
<div th:fragment="articlecard" class="col-md-6 col-lg-12">
  <div class="card profile-card-2">
    <div class="card-img-block">
      <img class="img-fluid" src="" alt="Card image cap">
    </div>
    <div class="card-body pt-5 ">
      <a href=""><img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile"></a>
      <h5 class="card-title">Post Title</h5>
      <!--            add category-->
      <div class="bg-danger" style="width: 100px; border-radius: 20px">
        <p class=" text-light text-center">Category</p>
      </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
